*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
  margin: 0;
  background-color: #ffc5c5;
  font-family: 'Poppins', sans-serif;
 height: 2500px
}

.cicek{
text-align: center;
margin-top: 20%;
font-size:x-small ;
}
.logo {
  position: fixed;
  top: 20px;
  left: 40px;
  width: 100px;
  height: auto;
  z-index: 1001;
}
.to-be{
text-align: center;
margin-top: 200px;
color: rgb(178, 55, 55);

} 
.menu-container {
  background-color: rgb(213, 146, 146);
  padding: 50px;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}


.menu {
  display: flex;
 align-items: center;
  justify-content: space-between;

  width: 100%;
}
.back-button{
     position: fixed;
  top: 30px;
  left: 30px;
  text-decoration: none;
  font-size: 24px;
  color: black;
  font-weight: bold;
  transition: color 0.3s; 
}
.back-button:hover {
  color: rgb(100, 100, 100);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.plan1{

  width: 500px;
  border: rgb(0, 0, 0) solid;
}
.caption{
 
  color: beige;
}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 18px;
  transition: color 0.3s ease;
}


.nav-links a:not(:last-child)::after {
  content: "|";
  margin-left: 25px;
  color: rgba(96, 16, 16, 0.6);
  font-weight: normal;
}


.nav-links a:hover {
  color: #ffb0b0;
}
.image-section {
 text-align: center; 
margin-top: 180px;

}
details {
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}

summary.caption {
  list-style: none; 
  color: rgb(139, 37, 37);
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
}

summary.caption:hover {
  color: rgb(255, 255, 255);
}

.info-text {
  color: rgb(3, 1, 1);
  font-size: 14px;
  margin-top: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;
  text-align: center;
}
.plan2 {
  display: block;
  margin: 200px auto 0 auto;
  width: 500px;      
  height: auto;       
  max-width: 90%;     
  border: rgb(0, 0, 0) solid;
}
 .resim-iki{
  text-align: center;
  gap: 20px;
 }
 
 .plan3{
  display: block;
  margin: 200px auto 0 auto;
  width: 500px;      
  height: auto;       
  max-width: 90%;     
  border: rgb(0, 0, 0) solid;

 }
 footer {
  text-align: center;
  padding: 0x 0;
  color: beige;
  font-size: 14px;
  position: relative; 
  margin-top: 200px;  
}

.dunya{
  text-align: center;
  margin-top: 200px;
}

.flex{
    display: flex;
}
.menu h1 {
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  margin-left: 100px;
}


